:root {
    --color-main : #AC501F;
    --color-menu: #4C3949;
    --color-secondary: #AC501F;
    --background-body: #1A1A1A;
    --font-family:'IBM Plex Sans Thai Looped',
    sans-serif;
    --color-text: #fff;
    --background-div-dark: #333333;

    /* Theme Light */

    --background-body-light: #fcf9ee;
    --color-text-light: #141414;
    --background-div-light: #e7d6c4;
}


html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

/* Theme Styles */

body.dark-theme {
    background-color: var(--background-body);
    color: var(--color-text);
}

.dark-theme-others {
    color: var(--color-text-light);
}

div.dark-background-others {
    background-color: var(--background-div-dark);
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-body);
        color: var(--color-text);
    }
    
    .elements {
        background-color: var(--background-div-dark);
    }
    
    body.light-theme {
        background-color: var(--background-body-light);
        color: var(--color-text-light);
    }
    
    div.light-background-others {
        background-color: var(--background-div-light);
    }
    
    .light-theme-others {
        color: var(--color-text);
    }
}


@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-body-light);
        color: var(--color-text-light);
    }    
}

/* End Theme Styles */

img {
    max-width: 100%;
    height: auto;
}

/* Content Navegation */

.navegations {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 10vh;
    background-color: transparent;
    border-bottom: 1px solid var(--color-secondary);
    position: sticky;
    top: 0;
    z-index: 997;
}

/* Title principal */

#navegation h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

/* Efect menu */

ul.is-actives {
    transform: translate(0, 0);
}

/* Menu */

.list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    bottom: 0;
    top: 0;
    background-color: var(--color-menu);
    transition: transform 0.5s ease-in-out;
    transform: translate(-100%, 0);
}

.list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    
}

.list li:hover {
    background-color: var(--color-main);
    color: rgb(32, 32, 3);
    transition: background-color 1s ease;
    transform: scale(1.1);
}

.list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Icon */

#btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 999;
    background-color: var(--color-main);
    border-radius: 70%;
    border: 1px solid rgb(32, 32, 3);
}

.tam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
    height: 90vh;
    z-index: 0;
    color: var(--color-text);
}

.tam h2 {
    max-width: 100%;
    text-align: center;
    height: 5%;
    
}

/* Section 1 */

#first {
    justify-content: space-evenly;
    height: 90vh;
}

.alarmaRelog {
    display: grid;
    width: 100%;
    height: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 15rem;
    text-align: center;
    border-radius: .3rem;
}

@media screen and (max-width: 768px) {
    .elements {
        width: 85%;
        height: 10rem;
    }
}


.btn {
    width: 6rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: .3rem;
    padding: .3rem;
    font-size: .9rem;
    cursor: pointer;
    background-color: var(--color-main);
}



#toLocal {
    font: 1rem var(--font-family);
    margin: .3rem;
}

div.date  {
    border-radius: .3rem;
    border: 1px solid var(--color-main);
}

/* Section Two Challenge */

#background {
    height: 70%;
    background-color: var(--color-secondary);
    width: 80%;
    border-radius: .5rem;
    border: 1px solid white;
}
  

.bull {
    background-color: var(--color-menu);
    width: 100%;
    height: 100%;
    width: 40px;
    height: 45px;
    border-radius: 50%;
    margin: .5rem;
}  



.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-main);
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 70%;
    border: 1px solid rgb(32, 32, 3);
    cursor: pointer;
    position: fixed;
    bottom: 1.5rem;
    right: calc(5.5rem + 1vw);
    z-index: 997;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.down span {
    font-size: 2rem;
}

/* Styles Hidden Nav and Btn Scroll */

.nav-down {
    /* From https://css.glass */
    background: rgba(207, 170, 170, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    transition: height 0.9s ease-in-out;
    height: 7vh;
}

.hidden {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: var(--color-main);
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 70%;
    border: 1px solid rgb(32, 32, 3);
    z-index: 995;
}

.theme:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .down {
        width: 3.1rem;
        height: 3.1rem;
        right: calc(6rem + 1vw);
    }

    .down span {
        font-size: 1.5rem;
    }

    .theme {
        width: 3.1rem;
        height: 3.1rem;
        bottom: 1rem;
        left: .5rem;
    }
}


    