
:root {
    --color-main : #AC501F;
    --color-menu: #4C3949;
    --color-secondary: #AC501F;
    --font-family:'IBM Plex Sans Thai Looped',
    sans-serif;

}

/* Theme styles */

body.dark-theme {
    --background-body: #1A1A1A;
    --color-text: #fff;
    --background-div: #333333;
}

.dark-theme-others {
    color: var(--color-text);
}

.dark-background-others {
    background-color: var(--background-div);
}

@media(prefers-color-scheme: dark) {
    body {
        --background-body: #1A1A1A;
        --color-text: #fff;
        --background-div: #333333;
    }

    
    body.light-theme {
        --background-body: #fcf9ee;
        --color-text: #141414;
        --background-div: #e7d6c4;
    }

    .light-background-others {
        background-color: var(--background-div);
    }
    
    .light-theme-others {
        color: var(--color-text);
    }
}

/* End them styles */
::-webkit-scrollbar {
    display: none;
}

html, body {
    
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    background-color: var(--background-body);
    color: var(--color-text);
    
}

img {
    max-width: 100%;
    height: auto;
}

/* Content Navegation */

.navegations {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 10vh;
    background-color: transparent;
    border-bottom: 1px solid var(--color-secondary);
    position: sticky;
    top: 0;
    z-index: 997;
}

/* Title principal */

#navegation h1 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

/* Efect menu */

ul.is-actives {
    transform: translate(0, 0);
}

body.menu {
    overflow: clip;
}

/* Menu */



.list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    
}

.list li:hover, .is-actives {
    background-color: var(--color-main);
    color: rgb(32, 32, 3);
    transition: background-color 1s ease;
    transform: scale(1.1);
}

.list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Icon */

#btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 999;
    background-color: var(--color-main);
    border-radius: 70%;
    border: 1px solid rgb(32, 32, 3);
}

.tam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 8vh;
    z-index: 0;
    color: var(--color-text);
    overflow: clip;
}

.tam h2 {
    max-width: 100%;
    text-align: center;
    height: 5%;
    
}

/* Section 1 */

#first {
    justify-content: space-evenly;
    height: 90vh;
}

.alarmaRelog {
    display: grid;
    width: 100%;
    height: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 15rem;
    text-align: center;
    border-radius: .3rem;
    background-color: var(--background-div);
}

@media screen and (max-width: 768px) {
    .elements {
        width: 85%;
        height: 10rem;
    }
}


.btn {
    width: 6rem;
    height: 2.5rem;
    border: .2px solid var(--color-text);
    border-radius: .3rem;
    padding: .3rem;
    font-size: .9rem;
    cursor: pointer;
    color: var(--color-text);
    background-color: var(--color-main);
}



#toLocal {
    font: 1rem var(--font-family);
    margin: .3rem;
}

div.date  {
    border-radius: .3rem;
    border: 1px solid var(--color-main);
}

/* Section Two Challenge */

#background {
    height: 70%;
    background-color: var(--color-secondary);
    width: 80%;
    border-radius: .5rem;
    border: 1px solid var(--background-div);
}
  

.bull {
    background-color: var(--color-menu);
    width: 100%;
    height: 100%;
    width: 40px;
    height: 45px;
    border-radius: 50%;
    margin: .5rem;
}  



.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-main);
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 70%;
    border: 1px solid rgb(32, 32, 3);
    cursor: pointer;
    position: fixed;
    bottom: 1.5rem;
    right: calc(5.5rem + 1vw);
    z-index: 997;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.down span {
    font-size: 2rem;
}

#form {
    height: auto;
    width: auto;
    background-color: var(--background-div);
    border-radius: .3rem;
    border: 1px solid var(--background-div);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
    align-items: center;
    justify-items: center;
    padding: .5rem;
    overflow: clip;
}

.dateData {
    border-radius: .1rem;
    border: 1px solid var(--background-div);
    background-color: transparent;
}

.dateData:focus {
    outline: none;
}

.content {
    overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.filter {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    order: 1;
}





    